/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #667eea;
  --ifm-color-primary-dark: #4c63e7;
  --ifm-color-primary-darker: #3d56e5;
  --ifm-color-primary-darkest: #233bd9;
  --ifm-color-primary-light: #8099ed;
  --ifm-color-primary-lighter: #8fa6ef;
  --ifm-color-primary-lightest: #b8c7f4;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #8099ed;
  --ifm-color-primary-dark: #667eea;
  --ifm-color-primary-darker: #5772e8;
  --ifm-color-primary-darkest: #3d56e5;
  --ifm-color-primary-light: #99b4f0;
  --ifm-color-primary-lighter: #a8c0f2;
  --ifm-color-primary-lightest: #c6d7f6;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
